html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
  
.col{
  width: 50%;
}

.fix-sizebtn{
  max-height: 40px;
}

.height-alignment{
  min-width: 50%;
}
